Repository keegoid-nr/newrelic-opentelemetry-examples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/opentelemetry-community, @reese-lee, @alanwest, @utr1903, @jack-berg, @matewilk, @pnvnd, @kaylareopelle, @jcountsNR

Update java apps (#458)
  getting-started-guides/java/uninstrumented/call-app.sh
  getting-started-guides/java/uninstrumented/load-generator.sh
  other-examples/java/agent-nr-config/config-extension/build.gradle
  other-examples/java/agent-nr-config/config-extension/src/main/java/com/newrelic/otel/extension/Customizer.java
  other-examples/java/logs-in-context-log4j2/docker-compose.yaml
  other-examples/java/logs-in-context-log4j2/log4j2.xml
  other-examples/java/logs-in-context-log4j2/otel-config.yaml
Owners: @jack-berg

Remove duplicate bom dependencies (#465)
  getting-started-guides/java/instrumented/build.gradle
  other-examples/java/build.gradle
Owners: @jack-berg

Add markdown link checking to build (#466)
  .github/config/markdown-link-check-config.json
  .github/scripts/markdown-link-check-with-retry.sh
  .github/workflows/pull_request.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  getting-started-guides/javascript/instrumented/README.md
  getting-started-guides/javascript/uninstrumented/README.md
  other-examples/java/logs-in-context-log4j2/README.md
  other-examples/serverless/aws-lambda/dotnet/README.md
  other-examples/serverless/aws-lambda/java/README.md
  other-examples/serverless/azure-functions/node/http-trigger-app/readme.md
Owners: @newrelic/opentelemetry-community, @matewilk, @jack-berg

feat: Confluent Cloud OTeL metrics (#457)
  other-examples/collector/confluentcloud/.gitignore
  other-examples/collector/confluentcloud/README.md
  other-examples/collector/confluentcloud/collector.yaml
  other-examples/collector/confluentcloud/docker-compose.yaml
  other-examples/collector/nr-config/docker-compose.yaml
  other-examples/collector/nr-config/otel-config.yaml
Owners: @jcountsNR

Refactor readme (#467)
  README.md
  getting-started-guides/README.md
  getting-started-guides/demo-app-specification.md
Owners: @newrelic/opentelemetry-community, @reese-lee

Update readme with confluent cloud example (#474)
  README.md
Owners: @newrelic/opentelemetry-community

Updated getting-started-example for Go (#473)
  getting-started-guides/go/instrumented/README.md
  getting-started-guides/go/instrumented/go.mod
  getting-started-guides/go/instrumented/go.sum
  getting-started-guides/go/instrumented/otel.go
  getting-started-guides/go/uninstrumented/README.md
Owners: @utr1903

Update README.md (#475)
  README.md
Owners: @newrelic/opentelemetry-community

chore: dot files
  other-examples/java/logs-in-context-log4j2/.dockerignore
Owners: @jack-berg

.github/CODEOWNERS:

# Global codeowners
* @newrelic/opentelemetry-community

getting-started-guides/             @reese-lee
getting-started-guides/dotnet/      @alanwest
getting-started-guides/go/          @utr1903
getting-started-guides/java/        @jack-berg
getting-started-guides/javascript   @matewilk
getting-started-guides/python/      @pnvnd
getting-started-guides/ruby/        @kaylareopelle

other-examples/collector/   @jcountsNR
other-examples/dotnet/      @alanwest
other-examples/java/        @jack-berg
# TODO: find serverless codeowner
other-examples/serverless/
